@model e_commerce_platform.ViewModels.HomeViewModel

@{
	ViewData["Title"] = "Home Page";
}

<section class="banner-area" id="home">
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-10">
				<h5 class="text-white text-uppercase">Now you can feel the Heat</h5>
				<h1>
					Smart New Future
				</h1>
				<a href="#" class="primary-btn text-uppercase">Buy Now</a>
			</div>
		</div>
	</div>
</section>
<section class="service-area section-gap" id="service">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-8 pb-40 header-text">
				<h1>Approved Testimonials</h1>
				<p>Here are some of the testimonials we have received.</p>
			</div>
		</div>
		<div class="row">
			@foreach (var testimonial in Model.ApprovedTestimonials)
			{
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4><span class="lnr lnr-user"></span>@testimonial.User.FullName</h4>
						<p style="font-size:12px;">@testimonial.Rating/5  @testimonial.UpdatedAt  </p>
						<p>@testimonial.Comment</p>
					</div>
				</div>
			}
		</div>
	</div>
</section>
<!-- End service Area -->
<!-- Start unique-feature Area -->
<section class="unique-feature-area section-gap" id="unique">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10 text-white">Some Features that Made us Unique</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var product in Model.LatestProducts)
			{
				<div class="col-lg-3 col-md-6">
					<div class="single-unique-product">
						<img class="img-fluid" src="@product.ProductImage" alt="">
						<div class="desc">
							<h4>@product.ProductName</h4>
							<h6>£@product.PriceAfterDiscount</h6>
							<a class="text-uppercase primary-btn" href="#">Pre Order</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>
<!-- End unique-feature Area -->
<!-- Start faq Area -->
<section class="faq-area section-gap" id="faq">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Frequently Asked Questions</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-start">
			<div class="col-lg-6 faq-left">
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Are your Templates responsive?
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Does it have all the plugin as mentioned?
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Can i use the these theme for my client?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
									Are your Templates responsive?
								</button>
							</h5>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End faq Area -->
