<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - e_commerce_platform</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/e_commerce_platform.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/assets/css/linearicons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/nice-select.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/animate.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <style>
        #sidebar {
            width: 15%; 
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            border-right: 1px solid #ddd;
            padding: 15px;
            background-color: #1F1F1F;
            color: #fff; 
        }

        .sidebar .nav-link {
            color: #fff; 
        }

            .sidebar .nav-link.active {
                color: #0d6efd;
            }

        .main-content {
            margin-left: 15%; 
            width: 85%; 
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" <a href="@Url.Action("Index", "Home")"><img src="~/assets/img/logo1.png" alt="" title="" />

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Account")" data-target="account">
                                <i class="bi bi-person" style="font-size: 1.25rem;"></i>
                                <span class="ms-2">Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Addresses")" data-target="addresses">
                                <i class="bi bi-house" style="font-size: 1.25rem;"></i>
                                <span class="ms-2">Addresses</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Categories")" data-target="categories">
                                <i class="bi bi-tags" style="font-size: 1.25rem;"></i>
                                <span class="ms-2">Categories</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Products")" data-target="products">
                                <i class="bi bi-box" style="font-size: 1.25rem;"></i>
                                <span class="ms-2">Products</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "ProductImages")" data-target="product-images">
                                <i class="bi bi-images" style="font-size: 1.25rem;"></i>
                                <span class="ms-2">Product Images</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Orders")" data-target="orders">
                                <i class="bi bi-cart" style="font-size: 1.25rem;"></i>
                                <span class="ms-2">Orders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Testimonials")" data-target="Testimonials">
                                <i class="bi bi-chat-left-text" style="font-size: 1.25rem;"></i>
                                <span class="ms-2">Testimonials</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                <button type="submit" class="nav-link btn btn-link">
                                    <i class="bi bi-box-arrow-right" style="font-size: 1.25rem;"></i>
                                    <span class="ms-2">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>



            <!-- Main Content -->
            <main class="main-content col-md-9 ms-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get all nav links
            const navLinks = document.querySelectorAll("#sidebar .nav-link");

            // Add click event listener to each nav link
            navLinks.forEach(link => {
                link.addEventListener("click", function (e) {
                    // Remove active class from all links
                    navLinks.forEach(link => link.classList.remove("active"));

                    // Add active class to the clicked link
                    e.currentTarget.classList.add("active");
                });
            });
        });
    </script>

    <script src="~/assets/js/scroll-header.js"></script>

    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script type="~/assets/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/assets/js/easing.min.js"></script>
    <script src="~/assets/js/hoverIntent.js"></script>
    <script src="~/assets/js/superfish.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/parallax.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/scripts.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
