<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - e_commerce_platform</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/e_commerce_platform.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/assets/css/linearicons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/nice-select.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/animate.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true">
</head>
<body>
    <header id="header" >
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/assets/img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <!--<li class="menu-active"><a @Url.Action("", "")">Home</a></li>-->
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("DisplayProducts", "Products")">Shop</a></li>
                        <li><a href="@($"{Url.Action("Index", "Home")}#service")">Latest Arrival</a></li>
                        <li><a href="@($"{Url.Action("Index", "Home")}#unique")"> Testimonial</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var fullName = User.Identity.Name; // Assuming Name is the full name; adjust if using a different property
                            <li class="menu-has-children">
                                <a href="#">@fullName</a>
                                <ul>
                                    <!-- Show User Info Page -->
                                    <li><a href="@Url.Action("UserInfo", "Account")">My Information</a></li>
                                    <!-- Show Address Page -->
                                    <li><a href="@Url.Action("MyAddress", "Addresses")">My Address</a></li>
                                    <!-- Show Orders Page -->
                                    <li><a href="@Url.Action("MyOrders", "Orders")">My Orders</a></li>
                                    <!-- Show Testimonials Page -->
                                    <li><a href="@Url.Action("MyTestimonials", "Testimonials")">My Testimonials</a></li>
                                    <!-- Log Out -->
                                    <li>
                                        <form asp-action="Logout" asp-controller="Account" method="post" style="display:inline;">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class=" btn-link logout-button">&nbsp&nbspLog Out</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                        }
                        <li><a href="@Url.Action("Index", "Basket")">Basket</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
   
        @RenderBody()
   
    


    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                        <p class="footer-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <!-- Scripts -->
    <script src="~/assets/js/scroll-header.js"></script>

    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script type="~/assets/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/assets/js/easing.min.js"></script>
    <script src="~/assets/js/hoverIntent.js"></script>
    <script src="~/assets/js/superfish.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/parallax.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/scripts.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
